.price-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag {
  position: absolute;
  margin: 10px;
  width: 2%;
}
.bag-img {
  width: 18%;
}
.card-bg {
  width: 20%;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  margin: 20px;
  /* padding: 10px; */
}
.card-bg:hover {
  color: skyblue;
}
.card-img {
  width: 95%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.offer {
  color: rgb(30, 205, 30);
}
.price {
  font-size: 25px;
  font-weight: 500;
}
@media (orientation: portrait) {
  .price {
    font-size: 10px;
    font-weight: 300;
  }
  .price-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 3px;
  }
  .heading-card {
    font-size: 10px;
  }
  .del {
    font-size: 7px;
  }
  .offer {
    font-size: 7px;
  }
}
